{# translation-ready, escaped, formatted, semantic #}
<div id="MiniCartModal" class="minicart-modal" uk-modal>
  <div class="uk-modal-dialog">
    <div class="uk-modal-body height-content uk-padding-remove" uk-overflow-auto>
      <div class="widget_shopping_cart_content">
        {{fn('woocommerce_mini_cart')}}
      </div>
    </div>
  </div>
</div>