/* mini cart checkout button/s */
.woocommerce-mini-cart__buttons .button.checkout:not(:disabled) {
  cursor: pointer;
}
.woocommerce-mini-cart__buttons .button.checkout {
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  background-color: #008ce1;
  color: #fff;
  display: inline-block;
  font: inherit;
  font-size: .875rem;
  line-height: 28px;
  letter-spacing: 1px;
  margin: 0;
  overflow: visible;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  text-transform: uppercase;
  transition: .1s ease-in-out;
  transition-property: color,background-color,border-color;
  vertical-align: middle;
}
.woocommerce-mini-cart__buttons .button.checkout:focus, .woocommerce-mini-cart__buttons .button.checkout:hover {
  background-color: #0674b7;
}

/* mini cart modal */
.woocommerce-mini-cart img {
  width: 50px;
}
.woocommerce-mini-cart__total bdi, .mini-cart-quantity bdi {
  color: #008ce1;
  font-weight: 700;
}
.woocommerce-mini-cart__empty-message {
  padding: 20px;
}
li.woocommerce-mini-cart-item:before {
  content: none;
}