/* mini cart checkout button/s */

/* mini cart modal */
.woocommerce-mini-cart img {
  width: 50px;
}
.woocommerce-mini-cart__total bdi, .mini-cart-quantity bdi {
  color: #008ce1;
  font-weight: 700;
}
.woocommerce-mini-cart__empty-message {
  padding: 20px;
}
li.woocommerce-mini-cart-item:before {
  content: none;
}
.variation-Size p {
  margin: 0;
}